In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/splitted/out_2019-12-18.csv')

In [4]:
df.head()

,pid,hid,lat,lon,ts,td,dw,tz,gridX,gridY,gridId
0,Santa Clara County,8880011d4969dafb2bff89d4da1a37c994292941,36.900276,-121.581208,1576733932,21:38:52,Wed,397,3003,9188,300309188
1,Santa Clara County,8880011d4969dafb2bff89d4da1a37c994292941,36.898245,-121.574142,1576733977,21:39:37,Wed,397,2982,9259,298209259
2,Santa Clara County,8880011d4969dafb2bff89d4da1a37c994292941,36.897755,-121.565889,1576734022,21:40:22,Wed,397,2978,9341,297809341
3,Santa Clara County,8880011d4969dafb2bff89d4da1a37c994292941,36.900589,-121.560763,1576734067,21:41:07,Wed,397,3006,9392,300609392
4,Santa Clara County,8880011d4969dafb2bff89d4da1a37c994292941,36.906981,-121.559551,1576734113,21:41:53,Wed,397,3070,9404,307009404

In [5]:
df.describe()

,lat,lon,ts,tz,gridX,gridY,gridId
count,335966.000000,335966.000000,3.359660e+05,335966.0,335966.000000,335966.000000,3.359660e+05
mean,37.181688,-121.814842,1.576726e+09,397.0,5816.876633,6851.581214,5.816945e+08
std,0.050885,0.148661,7.918616e+03,0.0,508.844640,1486.614180,5.088319e+07
min,36.897624,-122.121767,1.576714e+09,397.0,2976.000000,3782.000000,2.976094e+08
25%,37.138432,-121.972072,1.576719e+09,397.0,5384.000000,5279.000000,5.384085e+08
50%,37.197197,-121.841439,1.576725e+09,397.0,5972.000000,6586.000000,5.972066e+08
75%,37.224876,-121.657133,1.576732e+09,397.0,6249.000000,8429.000000,6.249052e+08
max,37.265620,-121.555730,1.576742e+09,397.0,6656.000000,9443.000000,6.656051e+08