In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

In [4]:
src = './data/Santa_Clara_County_Close_Contact_Summary_Data.csv'

dfSummary = pd.read_csv(src)

In [6]:
dfSummary.head(5)

,geo,average_contacts,median_contacts,contact_devices,contacts,country,local_date,grouping_method,geo_type,filter
0,60855001001,9.283333,4,60,544,USA,20200101,cel,cbg,noisy
1,60855001001,1.146341,1,164,94,USA,20200101,event_location,cbg,noisy
2,60855001001,5.500000,3,50,262,USA,20200101,cel,cbg,noisy_fast
3,60855001001,1.310345,1,29,19,USA,20200101,event_location,cbg,noisy_fast
4,60855001001,7.488372,3,43,316,USA,20200101,cel,cbg,noisy_slow

In [7]:
dfSummary.tail(5)

,geo,average_contacts,median_contacts,contact_devices,contacts,country,local_date,grouping_method,geo_type,filter
1608442,6085513500,1.672727,1,110,92,USA,20200531,event_location,tract,noisy_fast
1608443,6085513500,11.377049,3,61,693,USA,20200531,cel,tract,noisy_slow
1608444,6085513500,1.622307,1,789,640,USA,20200531,event_location,tract,noisy_slow
1608445,6085513500,57.760870,8,92,5298,USA,20200531,cel,tract,none
1608446,6085513500,1.676056,1,852,714,USA,20200531,event_location,tract,none

In [9]:
dfSummary.describe()

,geo,average_contacts,median_contacts,contact_devices,contacts,local_date
count,1.608447e+06,1.608447e+06,1.608447e+06,1.608447e+06,1.608447e+06,1.608447e+06
mean,4.672744e+10,6.028148e+00,2.631386e+00,2.493457e+02,1.474978e+03,2.020031e+07
std,2.396728e+10,9.141985e+00,3.325294e+00,2.501634e+03,3.273010e+04,1.402910e+02
min,6.085000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.020010e+07
25%,6.085512e+09,1.531915e+00,1.000000e+00,3.700000e+01,6.300000e+01,2.020020e+07
50%,6.085504e+10,3.307692e+00,2.000000e+00,7.700000e+01,2.230000e+02,2.020032e+07
75%,6.085508e+10,6.645161e+00,3.000000e+00,1.800000e+02,6.770000e+02,2.020042e+07
max,6.085514e+10,5.498100e+02,6.870000e+02,2.117450e+05,6.668446e+06,2.020053e+07

In [13]:
dfSummary[dfSummary.average_contacts > 1000]

Empty DataFrame
Columns: [geo, average_contacts, median_contacts, contact_devices, contacts, country, local_date, grouping_method, geo_type, filter]
Index: []

In [2]:
dfDistance = pd.read_csv('./data/1175035_Santa_Clara_County_cel_cdl_distance_report.tsv', '\t')
dfDistanceSummary = pd.read_csv('./data/1175035_Santa_Clara_County_cel_cdl_distance_report_summary.tsv', '\t')

In [3]:
dfDistanceSummary.head()

,Location,Bucket,Type,Visitor Count,Percentage
0,Santa Clara County,Total visitors with CEL,CEL Distance,1.418829e+06,NaN
1,Santa Clara County,Median distance traveled from CEL,CEL Distance,3.979191e+01,NaN
2,Santa Clara County,Lives within 1 mile of location,CEL Distance,1.100000e+01,0.00%
3,Santa Clara County,Lives between 1 and 2 miles,CEL Distance,5.600000e+01,0.00%
4,Santa Clara County,Lives between 2 and 3 miles,CEL Distance,2.480000e+02,0.02%

In [4]:
dfDistanceSummary.tail()

               Location Bucket             Type  Visitor Count Percentage
217  Santa Clara County    ESP  Top CDL Country          952.0      0.08%
218  Santa Clara County    SGP  Top CDL Country          827.0      0.07%
219  Santa Clara County    HKG  Top CDL Country          727.0      0.06%
220  Santa Clara County    MYS  Top CDL Country          693.0      0.06%
221  Santa Clara County    NGA  Top CDL Country          677.0      0.06%

In [5]:
dfDistance.head()

,Polygon Name,Hashed Device Id,Common Evening Lat,Common Evening Long,Common Evening Country,Common Evening State,Common Evening Zip,Common Evening Census,Common Evening Metro,Common Evening Distance,Common Daytime Lat,Common Daytime Long,Common Daytime Country,Common Daytime State,Common Daytime Zip,Common Daytime Census,Common Daytime Metro,Common Daytime Distance
0,Santa Clara County,124866122d9f56a699e8c546c72db387568e131b,37.271336,-121.823794,USA,CA,95111,060855120171,"San Francisco-Oakland-San Jose, CA",7.517596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santa Clara County,e736babeb6ea08d450314dfb33ab353f9eff45c4,36.189990,-119.317362,USA,CA,93274,061070029041,"Fresno-Visalia, CA",150.329627,36.190001,-119.317346,USA,CA,93274,061070029041,"Fresno-Visalia, CA",150.330032
2,Santa Clara County,016a10512ee0b9c54eab6e5b80f40fa0a36c334c,39.417042,-119.768268,USA,NV,89511,320310010111,"Reno, NV",183.780657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Santa Clara County,e0c3a54ae8e0da6a983a03d28b8f4879297c0d2a,33.762377,-118.021034,USA,CA,92683,060590999023,"Los Angeles, CA",316.880208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Santa Clara County,6b4f4bbbd264273c6e405b3b1481ffabb522501f,34.212245,-119.152234,USA,CA,93030,061110049011,"Los Angeles, CA",253.064224,34.212252,-119.152233,USA,CA,93030,061110049011,"Los Angeles, CA",253.063853