In [1]:
import pandas as pd

In [12]:
tdf = pd.read_csv('public_data/zone.csv', names=['zoneId', 'country', 'name'], index_col='name')

In [13]:
tdf.head()

                  zoneId country
name
Europe/Andorra         1      AD
Asia/Dubai             2      AE
Asia/Kabul             3      AF
America/Antigua        4      AG
America/Anguilla       5      AI

In [18]:
def getTimeZoneId(name):
    return tdf.loc[name].zoneId

In [19]:
tdf.loc['Asia/Dubai'].zoneId

2

In [20]:
getTimeZoneId('Asia/Dubai')

2